.bg-navbar {
    background-color: #34495E !important;
}

a {
    cursor: pointer;
}

.white {
    color: white !important;
}

#main .navbar-brand {
    color: #fff;
}

#main .navbar-toggler-icon {
    color: white;
}

#main-nav .navbar-nav {
    margin-top: 0;
}

#main .navbar-nav li.nav-item a.nav-link {
    color: #fff;
}

#main .navbar-nav>li.nav-item>a.nav-link.active {
    color: #fff;
    background: #33d9b2;
}

#main .navbar-nav>li.nav-item>a.nav-link.active:active,
#main .navbar-nav>li.nav-item>a.nav-link.active:focus,
#main .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: #fff;
    background: black;
}

#main.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#main.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}