.bg-navbar {
    background-color: #34495E !important;
}

a {
    cursor: pointer;
}

.white {
    color: white !important;
}

#main .navbar-brand {
    color: #fff;
}

#main-nav .navbar-nav {
    margin-top: 0;
}

#main .navbar-nav li.nav-item a.nav-link {
    color: #fff;
    font-weight: bold;
}

#main .navbar-nav li.nav-item:hover {
    background: #D68910;
}

#main a.nav-link:hover {
    background: #D68910;
}