<div class="row">
    <div class="col-sm-4">
        <img src="../../../../../assets/img/mamoriaRAM.jpg" class="card-img-top" alt="">
        <br>
        <button type="button" class="btn btn-success mx-3">Comprar</button>
        <button type="button" class="btn btn-secondary">Regresar</button>
    </div>
    <div class="col-sm-8">
        <h3>Nombre</h3>
        <p>Memoria RAM</p>
        <h4>Descripción</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias voluptatem consectetur excepturi et modi rem dolorem voluptate nam distinctio expedita fuga architecto deserunt ipsa adipisci quam quia, corrupti non hic?</p>
        <h4>Precio</h4> $ 13.50
    </div>
</div>