<h1>PRODUCTOS</h1>
<div class="row">
    <div class="card mx-5" style="width: 18rem;">
        <img src="./../../../../../assets/img/celulares.jpg" class="card-img-top" alt="celulares">
        <div class="card-body">
            <h5 class="card-title">Celulares</h5>
            <p class="card-text">
                En esta sección podrás encontrar una gran cantidad de fundas de celulares, micas y otros componentes para celulares.
            </p>
            <a href="#" class="btn btn-primary">Ver...</a>
        </div>
    </div>
    <div class="card mx-5" style="width: 18rem;">
        <img src="./../../../../../assets/img/compuslaptops.jpg" class="card-img-top" alt="celulares">
        <div class="card-body">
            <h5 class="card-title">Computadoras</h5>
            <p class="card-text">
                En esta sección podrás encontrar componentes de hardware para computadoras y laptops, como son discos duros, memorias RAM, entro otros componentes.
            </p>
            <a href="#" class="btn btn-primary">Ver...</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="./../../../../../assets/img/servicio.png" class="card-img-top" alt="celulares">
        <div class="card-body">
            <h5 class="card-title">Servicio Mantenimiento</h5>
            <p class="card-text">
                En esta sección mostramos encontrarás los servicios de mantenimiento con los respectivo costos en dipositivos móviles, computadoras y estrucutra de redes.
            </p>
            <a href="#" class="btn btn-primary">Ver...</a>
        </div>
    </div>
</div>