<div class="container mt-4">
    <div class="row justify-content-center">
        <h3 class="text-uppercase font-weight-bold ">Productos</h3>
        <hr class="separador-pri w-100">
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <br>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Tipo
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Accesorios Computadoras</li>
                    <li class="list-group-item">Accesorios celulares</li>
                </ul>
            </div>
            <br>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Mas Buscado
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Memoria RAM</li>
                    <li class="list-group-item">Mica</li>
                    <li class="list-group-item">CPU</li>
                </ul>
            </div>
            <br>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Precios
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Menos de $ 10</li>
                    <li class="list-group-item">$ 10 a 50</li>
                    <li class="list-group-item">$ 50 a 90</li>
                    <li class="list-group-item">Mas de $ 90</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card" style="width: 18rem;">
                <img src="../../../../../assets/img/mamoriaRAM.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Memoria RAM</h5>
                    <p class="card-text">Memoria RAM de 16Gb</p>
                    <a routerLink="/verproducto" class="btn btn-dark">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>