/* You can add global styles to this file, and also import other style files */

.separador-pri {
    background-color: #34495E;
    height: 3.5px;
    border-radius: 5px;
}

.bg-pri {
    background-color: #34495E !important;
}

a.bg-pri:hover,
a.bg-pri:focus,
button.bg-pri:hover,
button.bg-pri:focus {
    background-color: #D68910 !important;
}

.bg-tomate {
    background-color: #D68910 !important;
}

.text-white {
    color: white !important;
}